*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
.app{
  min-height: 100vh;
}
.header{
  background-color: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}
.add-btn{
  padding: 1em;
  border: 2px solid black;
  border-radius: 2em;
  cursor: pointer;
}
.header h1{
  font-size: clamp(1.1rem, 2.4vw, 2rem);
  padding: 0.5em 0;
}

.box2{
  height: 35vh;
  width: 30vw;
  background-color: lightpink;
  border: 2px solid black;
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
 grid-gap: 20px; 
}

.box{
  height: 45vh;
  width: 30vw;
  background-color: lightpink;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  left: 35%;
  top: 30%;
}
input{
  width: 90%;
  height: 7vh;
  border: 1px solid black;
}
.cancelBtn, .postBtn{
  padding: 0.8em;
  border: 1px solid black;
  margin-right: 0.5em;
  cursor: pointer;
}
.body-part{
  min-height: 80vh;
  background-color: orange;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px; 
  padding: 1em;
}
.opacity{
  /* background-color: grey; */
  opacity: 0.2;
}
/* li{
  margin: 1em;
} */
